{% extends "base.html" %}
{% block main %}
<h1>Profile</h1>
<hr />
<div class="row">
    <div class="col-lg-6">
      <img src="{{ url_for('static', filename= "uploads/" + user.image ) }}" class="img-thumbnail"></img>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading"><strong>{{ user.firstname + " " + user.lastname }}</strong></div>
          <div class="panel-body">
            <strong>Profile Created On: </strong> {{ user.profile_created_on.strftime('%Y-%m-%d') }}
            <hr />
            <ul class="list-unstyled">
              <li><strong>Username: </strong> {{ user.username }}</li>
              <li><strong>User ID: </strong> {{ user.id }}</li>
              <li><strong>Gender: </strong> {{ user.gender }}</li>
              <li><strong>Age: </strong> {{ user.age }}</li>
            </ul>
            <hr />
              {{ user.bio }}
            </div>
        </div>
    </div>
</div>
{% endblock %}